<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/backstage.css"/>
</head>
<body>
	<div id="backstage">
		<!--1.logo-->
		<div class="logo">
			<div class="logo-L">
				<h1>
					<img src="/images/topLogo.png"/>
				</h1>
			</div>
			<div class="logo-R">
				<ul>
					<li>
						<a href="javascript">
							<img src="/images/topmune_09.png"/>
							<span>更多模板堂产品</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_01.png"/>
							<span>开店向导</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_02.png"/>
							<span>记事本</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_03.png"/>
							<span>刷新</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_04.png"/>
							<span>个人设置</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_05.png"/>
							<span>管理员留言</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_06.png"/>
							<span>查看网店</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_07.png"/>
							<span>帮助</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_007.png"/>
							<span>关于ESCHOp</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/qingchu.png"/>
							<span>清除</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_08.png"/>
							<span>退出</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--2.nav-->
		<div class="nav">
			<ul>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_07.png"/><span>起始页</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_41.png"/><span>设置导航栏</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_09.png"/><span>商品管理</span><i>7</i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/dd.png"/><span>订单管理</span><i>2</i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_13.png"/><span>广告管理</span><i>0</i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_19.png"/><span>用户评论</span><i>0</i>
					</a>
				</li>
				<li>
					<a href="javascript:;">商品列表</a>
				</li>
				<li>
					<a href="javascript:;">订单列表</a>
				</li>
				<li>
					<a href="javascript:;">会员列表</a>
				</li>
				<li>
					<a href="javascript:;">用户评论</a>
				</li>
				<li>
					<a href="javascript:;">商店设置</a>
				</li>
				<li>
					<a href="javascript:;">移动版</a>
				</li>
				<li>
					<a href="javascript:;">服务市场</a>
				</li>
			</ul>
		</div>
		<!--3.banner-->
		<div class="banner">
			<div class="b1">
				<ul>
					<li class="b1_li-1"><a href="javascript:;">导航菜单</a></li>
					<li class="b1_li-2">
						<a href="javascript:;">商品管理</a>
						<ol>
							<li><a href="javascript:;">商品列表</a></li>
							<li><a href="list">添加新商品</a></li>
							<li><a href="javascript:;">商品分类</a></li>
							<li><a href="javascript:;">用户评论</a></li>
							<li><a href="javascript:;">商品品牌</a></li>
							<li><a href="javascript:;">商品类型</a></li>
							<li><a href="javascript:;">商品回收站</a></li>
						</ol>
					</li>
					<li class="b1_li-3">
						<a href="javascript:;">促销管理</a>
					</li>
					<li class="b1_li-4">
						<a href="javascript:;">订单管理</a>
					</li>
					<li class="b1_li-5">
						<a href="javascript:;">广告管理</a>
					</li>
					<li class="b1_li-6">
						<a href="javascript:;">报表统计</a>
					</li>
					<li class="b1_li-7">
						<a href="javascript:;">文章管理</a>
					</li>
					<li class="b1_li-8">
						<a href="javascript:;">会员管理</a>
					</li>
					<li class="b1_li-9">
						<a href="javascript:;">权限管理</a>
					</li>
					<li class="b1_li-10">
						<a href="javascript:;">系统设置</a>
					</li>
					<li class="b1_li-11">
						<a href="javascript:;">模板管理</a>
					</li>
					<li class="b1_li-12">
						<a href="javascript:;">数据库管理</a>
					</li>
					<li class="b1_li-13">
						<a href="javascript:;">短信管理</a>
					</li>
					<li class="b1_li-14">
						<a href="javascript:;">推荐管理</a>
					</li>
					<li class="b1_li-15">
						<a href="javascript:;">邮件群发管理</a>
					</li>
					<li class="b1_li-16">
						<a href="javascript:;">移动管理</a>
					</li>
					<li class="b1_li-17">
						<a href="javascript:;">模板堂知识库</a>
					</li>
				</ul>
			</div>
			<div class="b2">
				<a href="javascript:;">
					<span></span>
				</a>
			</div>
			<div class="b3">
				<h2>
					<span><a href="javascript:;">ECSHOP 管理中心</a></span>
					<em> - 商品列表</em>
					<i><a href="javascript:;"><img src="/images/jnsy.png"/></a></i>
					<b><a href="list">+添加新商品</a></b>
				</h2>
				<div class="b3-1">
					<img src="/images/icon_search.gif"/>
					<select>
						<option>所有分类</option>
						<option>砖石</option>
						<option>内衣</option>
						<option>家居服</option>
						<option>POLO衫</option>
						<option>短袖</option>
						<option>西裤</option>
					</select>
					<select>
						<option>所有品牌</option>
						<option>杰克</option>
						<option>森马</option>
						<option>美邦</option>
						<option>HM</option>
						<option>太平鸟</option>
						<option>新百伦</option>
					</select>
					<select>
						<option>全部</option>
						<option>精品</option>
						<option>良品</option>
						<option>次品</option>
						<option>一等货</option>
						<option>二等货</option>
					</select>
					<select>
						<option>全部</option>
						<option>上架</option>
						<option>下架</option>
					</select>
					<span>关键字</span>
					<input type="text" class="txt"/>
					<input type="button" value="搜索" class="serach" />
				</div>
				<div class="b3-2">
					<table>
						<tr>
							<td><input type="checkbox" class="tat"/><a href="javascript:;">编号</a><img src="/images/sort_desc.gif"/></td>
							<td><a href="javascript:;">商品名称</a></td>
							<td><a href="javascript:;">货号</a></td>
							<td><a href="javascript:;">价格</a></td>
							<td><a href="javascript:;">上架</a></td>
							<td><a href="javascript:;">精品</a></td>
							<td><a href="javascript:;">新品</a></td>
							<td><a href="javascript:;">热销</a></td>
							<td><a href="javascript:;">推荐排序</a></td>
							<td><a href="javascript:;">库存</a></td>
							<td><a href="javascript:;">虚拟销量</a></td>
							<td><a href="javascript:;">操作</a></td>
						</tr>
						<!--<tr>
							<td><input type="checkbox" class="tat"/><a href="javascript:;">编号</a><img src="/images/sort_desc.gif"/></td>
							<td><a href="javascript:;">钻戒</a></td>
							<td><a href="javascript:;">ESC0041</a></td>
							<td><a href="javascript:;">100</a></td>
							<td><img src="/images/yes.gif"/></td>
							<td><img src="/images/yes.gif"/></td>
							<td><img src="/images/yes.gif"/></td>
							<td><img src="/images/yes.gif"/></td>
							<td><a href="javascript:;">100</a></td>
							<td><a href="javascript:;">98</a></td>
							<td><a href="javascript:;">90</a></td>
							<td>
								<a href="javascript:;"><img src="/images/icon_view.gif" title="放大"/></a>
								<a href="javascript:;"><img src="/images/icon_edit.gif" title="编辑"/></a>
								<a href="javascript:;"><img src="/images/icon_copy.gif" title="复制"/></a>
								<a href="javascript:;"><img src="/images/icon_trash.gif" title="删除"/></a>
								
							</td>
						</tr>-->
					</table>
				<div class="b3-3">
					<span>总计 10 个记录分为 1 页当前第 1 页，每页</span><input type="text" value="1" class="num"/>
					<span>
						<a href="javascript:;">第一页</a>
						<a href="javascript:;">上一页</a>
						<a href="javascript:;">下一页</a>
						<a href="javascript:;">最末页</a>
					</span>
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
				</div>
				</div>

				<div class="b3-4">
					<select>
						<option>请选择...</option>
						<option>回收站</option>
						<option>精品</option>
						<option>取消精品</option>
						<option>上架</option>
					</select>
					<input type="button" value="确定" class="sub"/>
				</div>
				<div class="b3-5">
					共执行 7 个查询，用时 0.022433 秒，Gzip 已禁用，内存占用 3.534 MB<br />
						版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
	<script type="text/javascript" src="/javascripts/jquery.min.js" ></script>
	<script type="text/javascript" src="/javascripts/backstage.js" ></script>

</html>