<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/list1.css"/>
</head>
<body>
	<div id="backstage">
		<!--1.logo-->
		<div class="logo">
			<div class="logo-L">
				<h1>
					<img src="/images/topLogo.png"/>
				</h1>
			</div>
			<div class="logo-R">
				<ul>
					<li>
						<a href="javascript">
							<img src="/images/topmune_09.png"/>
							<span>更多模板堂产品</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_01.png"/>
							<span>开店向导</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_02.png"/>
							<span>记事本</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_03.png"/>
							<span>刷新</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_04.png"/>
							<span>个人设置</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_05.png"/>
							<span>管理员留言</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_06.png"/>
							<span>查看网店</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_07.png"/>
							<span>帮助</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_007.png"/>
							<span>关于ESCHOp</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/qingchu.png"/>
							<span>清除</span>
						</a>
					</li>
					<li>
						<a href="javascript">
							<img src="/images/topmune_08.png"/>
							<span>退出</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--2.nav-->
		<div class="nav">
			<ul>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_07.png"/><span>起始页</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_41.png"/><span>设置导航栏</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_09.png"/><span>商品管理</span><i>7</i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/dd.png"/><span>订单管理</span><i>2</i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_13.png"/><span>广告管理</span><i>0</i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/index-11_19.png"/><span>用户评论</span><i>0</i>
					</a>
				</li>
				<li>
					<a href="javascript:;">商品列表</a>
				</li>
				<li>
					<a href="javascript:;">订单列表</a>
				</li>
				<li>
					<a href="javascript:;">会员列表</a>
				</li>
				<li>
					<a href="javascript:;">用户评论</a>
				</li>
				<li>
					<a href="javascript:;">商店设置</a>
				</li>
				<li>
					<a href="javascript:;">移动版</a>
				</li>
				<li>
					<a href="javascript:;">服务市场</a>
				</li>
			</ul>
		</div>
		<!--3.banner-->
		<div class="banner">
			<div class="b1">
				<ul>
					<li class="b1_li-1"><a href="javascript:;">导航菜单</a></li>
					<li class="b1_li-2">
						<a href="javascript:;">商品管理</a>
						<ol>
							<li><a href="javascript:;">商品列表</a></li>
							<li><a href="javascript:;">添加新商品</a></li>
							<li><a href="javascript:;">商品分类</a></li>
							<li><a href="javascript:;">用户评论</a></li>
							<li><a href="javascript:;">商品品牌</a></li>
							<li><a href="javascript:;">商品类型</a></li>
							<li><a href="javascript:;">商品回收站</a></li>
						</ol>
					</li>
					<li class="b1_li-3">
						<a href="javascript:;">促销管理</a>
					</li>
					<li class="b1_li-4">
						<a href="javascript:;">订单管理</a>
					</li>
					<li class="b1_li-5">
						<a href="javascript:;">广告管理</a>
					</li>
					<li class="b1_li-6">
						<a href="javascript:;">报表统计</a>
					</li>
					<li class="b1_li-7">
						<a href="javascript:;">文章管理</a>
					</li>
					<li class="b1_li-8">
						<a href="javascript:;">会员管理</a>
					</li>
					<li class="b1_li-9">
						<a href="javascript:;">权限管理</a>
					</li>
					<li class="b1_li-10">
						<a href="javascript:;">系统设置</a>
					</li>
					<li class="b1_li-11">
						<a href="javascript:;">模板管理</a>
					</li>
					<li class="b1_li-12">
						<a href="javascript:;">数据库管理</a>
					</li>
					<li class="b1_li-13">
						<a href="javascript:;">短信管理</a>
					</li>
					<li class="b1_li-14">
						<a href="javascript:;">推荐管理</a>
					</li>
					<li class="b1_li-15">
						<a href="javascript:;">邮件群发管理</a>
					</li>
					<li class="b1_li-16">
						<a href="javascript:;">移动管理</a>
					</li>
					<li class="b1_li-17">
						<a href="javascript:;">模板堂知识库</a>
					</li>
				</ul>
			</div>
			<div class="b2">
				<a href="javascript:;">
					<span></span>
				</a>
			</div>
			
			<div class="b3-list">
				<h3>
					<span><a href="javascript:;">ECSHOP 管理中心</a></span>
					<em> - 商品列表</em>
					<i><a href="javascript:;"><img src="/images/jnsy.png"/></a></i>
					<b><a href="javasript:;">+添加新商品</a></b>
				</h3>
				<div class="b3-list-1">
					<ol>
						<li><a href="list">通用信息</a></li>
						<li><a href="javascript:;">详细描述</a></li>
						<li><a href="javascript:;">其他信息</a></li>
						<li><a href="javascript:;">商品属性</a></li>
						<li><a href="javascript:;">商品相册</a></li>
						<li><a href="javascript:;">关联商品</a></li>
						<li><a href="javascript:;">配件</a></li>
						<li><a href="javascript:;">关联文宣</a></li>
					</ol>
					
					<div class="b3-ta1">
						<table>
							<tr>
								<td>商品重量:</td>
								<td>
									<input type="text"/>
									<select>
										<option>千克</option>
										<option>克</option>
									</select>
								</td>
								
							</tr>
							<tr>
								<td>
									<a href="javascript:;"><img src="/images/notice.gif"/></a>
									商品库存:
								</td>
								<td>
									<input type="text" class="a1" value="1"/>
									<span>库存在商品为虚货或商品存在货品时为不可编辑状态，库存数值取决于其虚货数量或货品数量</span>
								</td>
								
							</tr>
							<tr>
								<td>
									库存警告数量:
								</td>
								<td>
									<input type="text" class="a2" value="1"/>
								</td>								
							</tr>
							<tr>
								<td>
									加入推荐:
								</td>
								<td>
									<input type="checkbox" class="a3"/>精品
									<input type="checkbox" class="a4"/>新品
									<input type="checkbox" class="a5"/>热销
								</td>								
							</tr>
							<tr>
								<td>
									上架:
								</td>
								<td>
									<input type="checkbox" class="a3"/>打勾允许销售，否则不允许销售
								</td>								
							</tr>
							<tr>
								<td>
									能作为普通商品销售:
								</td>
								<td>
									<input type="checkbox" class="a3"/>打勾表示能作为普通商品销售，否则只能作为配件或赠品销售
								</td>								
							</tr>
							<tr>
								<td>
									是否为免运费商品
								</td>
								<td>
									<input type="checkbox" class="a3"/>打勾表示此商品不会产生运费花销，否则按照正常运费计算。
								</td>								
							</tr>
							<tr>
								<td>
									图片上传:
								</td>
								<td>
									<input type="file" id="img"/>
								</td>								
							</tr>
							<tr>
								<td>
									商品简单描述:
								</td>
								<td>
									<textarea></textarea>
								</td>								
							</tr>
							<tr>
								<td>
									 <a href="javascript:;"><img src="/images/notice.gif"/></a>商家备注:
								</td>
								<td>
									<textarea></textarea><span>仅供商家自己看的信息</span>
								</td>								
							</tr>
							<tr>
								<td>
									 
								</td>
								<td>
									<input type="button" value="确定" class="a4" onclick="upload()"/>
									<input type="button" value="重置" class="a5"/>
								</td>								
							</tr>
						</table>
					</div>
				</div>
				<div class="b3-list-3">
					共执行 7 个查询，用时 0.022433 秒，Gzip 已禁用，内存占用 3.534 MB<br />
						版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
				</div>
			</div>
		</div>
	</div>
</body>
	<script type="text/javascript" src="/javascripts/jquery.min.js" ></script>
	<script src="/javascripts/add.js"></script>
</html>